pkgname={{ pkgname }}
pkgver={{ pkgver }}
pkgrel=1
pkgdesc="{{ pkgdesc }}"
arch=({{ arch | join(' ') }})
url="{{ url }}"
license=({{ license | join(' ') }})

depends=({% for d in depends %}"{{ d }}"{% if not loop.last %} {% endif %}{% endfor %})
{%- if makedepends %}
makedepends=({% for d in makedepends %}"{{ d }}"{% if not loop.last %} {% endif %}{% endfor %})
{%- endif %}
{%- if optdepends %}
optdepends=({% for d in optdepends %}"{{ d }}"{% if not loop.last %} {% endif %}{% endfor %})
{%- endif %}
{%- if options %}
options=({{ options | join(' ') }})
{%- else %}
options=(!strip !debug)
{%- endif %}
{%- if conflicts %}
conflicts=({% for d in conflicts %}"{{ d }}"{% if not loop.last %} {% endif %}{% endfor %})
{%- endif %}
{%- if provides %}
provides=({{ provides | join(' ') }})
{%- endif %}

source=("{{ download_url }}")
sha256sums=('{{ sha256 }}')

{%- if extract == 'tar' or extract == 'zip' %}

prepare() {
{%- if extract == 'tar' %}
    tar -xf "${srcdir}/$(basename "${source}")"
{%- elif extract == 'zip' %}
    unzip -q "${srcdir}/$(basename "${source}")"
{%- endif %}
}
{%- endif %}

package() {
{%- if extract != 'none' and binary_name %}
    install -Dm755 "{{ binary_name }}" "${pkgdir}/usr/bin/{{ binary_name }}"
{%- else %}
    install -Dm644 "${srcdir}/$(basename "${source}")" "${pkgdir}/opt/${pkgname}/${pkgname}"
{%- endif %}
{%- if extract != 'none' and install_files %}
{%- for file in install_files %}
    install -Dm{{ file.mode }} "{{ file.source }}" "${pkgdir}{{ file.dest }}"
{%- endfor %}
{%- endif %}
}